<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB00794B2B1708C900BA411B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA28B482B03427600D3BD25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA28B5E2B03427800D3BD25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
